<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <br/>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${listaClientes}">
                <td th:text="${cliente.getId()}"></td>
                <td th:text="${cliente.getNome()}"></td>
                <td th:text="${cliente.getEmail()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>